/*
==========================================
  Title: styles.css
  Author: Sarah Jean Baptiste
  Date: 05/15/2021
  Description: CSS for Personal Portfolio
==========================================
*/

/* Navigation Bar */

/* Navbar styling */
.navbar {
    background-color:#d2c1c3;
    width: 100%;
}

/* Navbar items styling */
.navbar li{
    display: inline-block;
    padding-right: 80px;
    padding-left: 80px;
    font-size: 16px;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
}

/* Hero-image */

/* Hero-image styling */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/background.jpg');
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

/* Hero-image text styling */
.hero-text {
    position: absolute;
    color: white;
    font-family: 'Dawning of a New Day', cursive;
    margin-top: 15%;
}

/* Headings */

/* Heading styling */
h1{
    font-size: 60px;
    margin-left: 50px;
}
h2{
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
    margin-top: -15px;
    margin-left: 20px;
}
h3{
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    padding:10px;
    margin-top: 20px;
    margin-left: 20px;
}

h4{
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    padding:10px;
    margin-top: 20px;
    margin-left: 20px;
    text-transform: uppercase;
    text-decoration: underline;
}

h5{
    font-size: 16px;
    font-family: 'Playfair Display', serif;
    padding:10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-left: 40px;
}

/* Main Content */

/* Main paragraph styling */
#main{
    padding:20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    line-height: 2;
    column-count: 2;
    column-gap: 40px;
}

/* About paragraph styling */
#about{
    font-family: 'Playfair Display', serif;
    font-style: italic;
    line-height: 2;
    width: 100%;
    padding: 20px;
    background: #ae757b;
    padding: 30px 40px 186px 40px;
    border-radius: 5px;

}

/* Skills paragraph styling */
#skills {
    font-family: 'Playfair Display', serif;
    line-height: 2;
    width: 100%;
    padding:20px;
}

/* Profile paragraph styling */
#profile {
    font-family: 'Playfair Display', serif;
    line-height: 2.5;
    width: 100%;
    padding:20px;
}

/* Education paragraph styling */
#education {
    font-family: 'Playfair Display', serif;
    line-height: 2.5;
    width: 100%;
    padding:20px;
}

/* Work paragraph styling */
#work {
    font-family: 'Playfair Display', serif;
    line-height: 2.5;
    width: 100%;
    padding:20px;
}

/* List paragraph styling */
#list {
    font-family: 'Playfair Display', serif;
    line-height: 2.5;
    width: 100%;
    padding:20px;
    margin-left: 20px;
}

/* Projects paragraph styling */
#projects {
    font-family: 'Playfair Display', serif;
    line-height: 2.5;
    width: 100%;
    padding:10px;
    margin-top: -20px;
}

/* Project descriptions styling */
#project-descriptions {
    font-family: 'Playfair Display', serif;
    line-height: 2;
    width: 100%;
    padding:10px;
    font-style: italic;
    font-size: 14px;
}

/* ------------------------- */

/* Card Styling */
.card {
    border: none;
}

/* Vertical line Styling */
.vl {
    border-right: 1px solid lightgray;
  }

/* Container Styling */
.container-fluid{
    padding: 20px;
}

/* Photo Styling */
#family-photo{
    width: 100%;
}

/* Icons */

/* Navbar icon styling */
#icons {
    display: inline-block;
    width: 24%;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

/* download icon Styling */
#download-icon {
    padding: 4px;
}

/* hyperlink icon Styling */
#hyperlink {
    padding: 6px;
    color: black;
}

/* download button Styling */
#download {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    padding: 4px;
    float: right; 
    margin-right: 40px;
}

/* Footer */

/* Footer Styling */
#footer{
    background-color:#d2c1c3;
}

/* quick-links Styling */
#quick-links {
    font-family: 'Playfair Display', serif;
    text-align: center;
}
