/*
==========================================
  Title: jeanBaptiste-bobs-auto-repair.css
  Author: Professor Krasso
  Date: 03/15/2021
  Modified by: Sarah Jean Baptiste
  Description: Bobs Auto Repair CSS
==========================================
*/

/* Styling for cart message */
#cart-message{
    float: left;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
}

/* Styling for cart message when hover. */
#cart-message:hover{ 
    cursor: pointer;
}